.wrapper{
  display: block;
  box-sizing: border-box;

  .lunchtop{
    background-image: image-url("/images/S__20889664.jpg");
    background-size: cover;
    width: 100vw;
    height: 950px;

    .lunchtop-text{
      text-align: center;
      line-height: 950px;
      font-size: 100px;
      color: white;
      font-family: 'Kaiti SC',sans-serif;
    }
  }

  .lunch-contents{
    width: 100vw;
    background-color: rgba(8, 8, 8, 0.904);
    color: white;
    font-family: 'Kaiti SC',sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 200px 0 200px;
    font-size: 30px;
    // opacity: 0;
    // transform: translateY(100px);
    // transition: 1s;
  }
}