.wrapper
  .lunchtop
    %p.lunchtop-text 昼の定食
  .lunch-content-box
    .lunch-contents
      .lunch-contents__image1
      %p.lunch-contents-text お刺身と天ぷら
      %p ¥1000円
    .lunch-contents
      .lunch-contents__image2
      %p.lunch-contents-text お刺身
      %p ¥1000円
    .lunch-contents
      .lunch-contents__image3
      %p.lunch-contents-text 天ぷら
      %p ¥1000円
    .lunch-contents
      .lunch-contents__image
      %p.lunch-contents-text お刺身と天ぷら
      %p ¥1000円
  = render "web/footer"