.wrapper
  .oseti-top
    %p.web-text おせち料理
  .oseti-body
    .oseti-body__left.oseti
    .oseti-body__right.oseti
      %p.price 料金
      .oseti-body__right__content
        %p.dan 1段
        %p.dan-price 10000円
      .oseti-body__right__content
        %p.dan 2段
        %p.dan-price 10000円
      .oseti-body__right__content
        %p.dan 3段
        %p.dan-price 10000円